body  {
    background-color: green;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

#message-el {
    font-style: italic;
}
#start-el {
    color: #016432;
    width: 250px;
    height: 40px;
    background-color: goldenrod;
    font-size: larger;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    border: none;
}

#new-el {
    color: #016432;
    width: 250px;
    height: 40px;
    background-color: goldenrod;
    font-size: larger;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    border: none;
    margin-top: 6px;
}